<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537301824309-3rct404okl7v21r814j4a3eeh2lvtgua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537301824309-3rct404okl7v21r814j4a3eeh2lvtgua</string>
	<key>API_KEY</key>
	<string>AIzaSyDovm6Vm5MYXtlhNIVkh1co5dSETqvnShU</string>
	<key>GCM_SENDER_ID</key>
	<string>537301824309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guillaume.Quiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-60f58</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-60f58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537301824309:ios:4479f7ad5dbf214d11527c</string>
</dict>
</plist>